<%- include("../partials/admin/header.ejs") %>
  <%- include("../partials/admin/sidebar.ejs") %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Edit Product</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
      <style>
        .modal-dialog.modal-xl {
          max-width: 70vw;
          width: 75vw;
          height: 80vh;
        }

        .modal-content {
          height: 100%;
        }

        .modal-body {
          padding: 1rem;
          padding-left: 20%;
          max-height: 75vh;
          overflow: auto;

        }

        #cropper-image {
          display: block;
          object-fit: contain;
          max-width: 100%;
          max-height: 70vh;
          margin: 0 auto;
        }

        /* Quantity inputs (M, L, XL) */
        input[type="number"][name$="Quantity"] {
          width: 60px;
          /* small width */
          height: 32px;
          /* small height */
          font-size: 14px;
          /* smaller font */
          padding: 2px 5px;
        }
      </style>
    </head>

    <body>

      <div class="container mt-2 mb-2">
        <h2 class="text-center fw-normal">Edit Product</h2>
      </div>

      <div class="container border border-1 shadow-sm border-dark px-5 py-2 rounded-4">
        <form action="/admin/products/edit/<%= product._id %>" method="POST" onsubmit="return validateForm()"
          enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <label for="nameinput" class="fw-semibold col-12 mb-2">Name</label>
              <input class="form-control border border-secondary border-1 rounded-3 col-12 mb-2" type="text"
                id="nameinput" name="name" value="<%= product.productName %>">
              <div id="nameerror" class="text-danger small"></div>
              <label for="statusupdate" class="fw-semibold mb-2 col-12">Status</label>
              <select name="status" id="statusupdate"
                class="form-select border w-50 border-1 rounded-3 border-secondary">
                <option value="Available" <%=product.status==='Available' ? 'selected' : '' %>>Available</option>

                <option value="Discontinued" <%=product.status==='Discontinued' ? 'selected' : '' %>>Discontinued
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="mb-2 fw-semibold col-12" for="description">Description</label>
              <textarea class="col-12 border border-secondary border-1 rounded-3 mb-2 p-2" rows="4" name="description"
                id="description"><%= product.description %></textarea>
              <div id="descriptionerror" class="text-danger small"></div>
            </div>
          </div>


          <div class="row gap-3 mb-2">
            <div class="row col-4">
              <label class="col-12 fw-semibold mb-2" for="brands">Brand</label>
              <select class="col-12 form-select border border-1 border-secondary rounded-3 mb-2" id="brands"
                name="brand">
                <% brands.forEach((brand)=> { %>
                  <option value="<%= brand._id %>" <%=brand.brandName===product.brand.brandName ? 'selected' : '' %>><%=
                      brand.brandName %>
                  </option>
                  <% }) %>
              </select>
              <div id="branderror" class="text-danger small"></div>
            </div>

            <div class="row col-4">
              <label class="col-12 fw-semibold mb-2" for="category">Category</label>
              <select class="col-12 form-select border border-1 border-secondary rounded-3 mb-2" id="category"
                name="category">
                <% categories.forEach((category)=> { %>
                  <option value="<%= category._id %>" <%=category.name===product.category.name ? 'selected' : '' %>><%=
                      category.name %>
                  </option>
                  <% }) %>
              </select>
              <div id="categoryerror" class="text-danger small"></div>
            </div>

            <div class="row col-4">
              <label class="col-12 fw-semibold mb-2" for="color">Color</label>
              <input class="form-control border border-1 border-secondary rounded-3 mb-2" name="color" type="text"
                value="<%= product.color %>" id="color">
              <div id="colorerror" class="text-danger small"></div>
            </div>
          </div>

          <div class="row gap-3 mb-2">
            <div class="row col-4">
              <label class="col-12 mb-2 fw-semibold" for="actualprice">Actual Price</label>
              <input class="col-12 border border-1 border-secondary rounded-2 mb-3 " name="actualPrice" type="number"
                value="<%= product.regularPrice %>" placeholder="₹">
              <div id="acpriceerror" class="text-danger small"></div>
            </div>
            <div class="row col-4">
              <label class="col-12 mb-2 fw-semibold" for="discountprice">Discount Price</label>
              <input class="col-12 border border-1 border-secondary rounded-3 mb-3 " name="discountPrice" type="number"
                value="<%= product.salePrice %>" placeholder="₹">
              <div id="dcpriceerror" class="text-danger small"></div>
            </div>
            <div class="row col-4">
              <label class="col-12 mb-2 fw-semibold" for="quantity">Quantity</label>
              <div class="row">
                <div class="col-md-4 d-flex align-items-center gap-1">
                  <label for="mQty" class="mb-0">M:</label>
                  <input type="number" name="mQuantity" class="form-control" id="mQty"
                    value="<%= product.sizes.find(s=>s.size==='M')?.quantity || '' %>" min="0" placeholder="M">
                </div>

                <div class="col-md-4 d-flex align-items-center gap-1">
                  <label for="lQty" class="mb-0">L:</label>
                  <input type="number" name="lQuantity" class="form-control" id="lQty"
                    value="<%= product.sizes.find(s=>s.size==='L')?.quantity || '' %>" min="0" placeholder="L">
                </div>

                <div class="col-md-4 d-flex align-items-center gap-1">
                  <label for="xlQty" class="mb-0">XL:</label>
                  <input type="number" name="xlQuantity" class="form-control" id="xlQty"
                    value="<%= product.sizes.find(s=>s.size==='XL')?.quantity || '' %>" min="0" placeholder="XL">
                </div>
              </div>

              <div id="quantityerror" style="font-size: 12px;" class="text-danger small"></div>
            </div>
          </div>

          <div class="row gap-3 mt-2">
            <% for(let i=0; i < 4; i++) { %>
              <div class="row col-12 col-sm-3">

                <div class="image-preview position-relative d-inline-block">
                  <% if (product.productImage[i]) { %>
                    <img src="/uploads/product-images/<%= product.productImage[i] %>" class="img-thumbnail w-50"
                      alt="Product Image <%= i + 1 %>">



                    <button type="button" class="btn btn-sm btn-danger delete-image-btn position-absolute top-0 end-0"
                      data-image="<%= product.productImage[i] %>" data-product="<%= product._id %>">
                      &times;
                    </button>
                    <% } %>

                </div>
                <label class="form-label text-muted mb-2 col-12">Leave Blank to keep current Image</label>
                <input class="crop-image-input form-control col-12 border border-1 border-secondary rounded-3 mb-3"
                  name="images" type="file">
              </div>
              <% } %>
                <input type="hidden" name="deletedImages" id="deletedImages">
                <div id="imageerror" class="text-danger small text-center"></div>
          </div>

          <div class="row col-12 text-center d-flex align-items-center justify-content-center mt-4">
            <button type="submit" class="submit btn btn-dark fw-semibold w-25 shadow-sm">Save Changes</button>
          </div>
        </form>
      </div>
      <!-- Modal for cropping -->
      <div class="modal fade" id="cropperModal" tabindex="-1" aria-labelledby="cropperModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Crop Image</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-3">

              <img id="cropper-image" />

            </div>
            <div class="modal-footer">
              <button id="cropImageBtn" class="btn btn-dark fw-semibold">Crop & Upload</button>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/script/admin/editproduct.js"></script>

    </body>

    </html>

    <%- include("../partials/admin/footer.ejs") %>