<%- include("../partials/user/header.ejs") %>
<%- include("../partials/user/navbar.ejs") %>

    
    <div class="row pt-4 mt-5 mx-md-3">
      <div class="col-8 mt-5 px-4" >
        <div class="bg-light p-5 border border-1 rounded-3 shadow-sm">
       <div class="container border p-3 mb-3 rounded shadow-sm address-card" style="height: 75px;" onclick="selectAddress(this)">
  <div class="d-flex justify-content-between align-items-start">
    
    <!-- Radio button (left) -->
    <div class="pt-1 pe-2">
      <input type="radio" name="address" value="COD" checked />
    </div>

    <!-- Address info (middle) -->
    <div class="flex-grow-1">
      <p class="mb-1 ms-1 fw-semibold">Cash On Delivery</p>
      <p class="text-muted small">Pay when your order arrives.</p>
    </div>

  </div>
</div>
<div class="container border p-2 mb-3 rounded shadow-sm address-card" style="height: 75px;" onclick="selectAddress(this)">
  <div class="d-flex justify-content-between align-items-start">
    
    <!-- Radio button (left) -->
    <div class="pt-1 pe-2">
      <input type="radio" name="address" value="UPI"  />
    </div>

    <!-- Address info (middle) -->
    <div class="flex-grow-1 mt-1">
      <img src="https://developers.google.com/identity/images/g-logo.png" style="height: 20px;width: 20px;" alt="">
      <small>Pay </small><small class="fw-bold">UPI Payment</small>
      <p class="ms-1 fw-normal small text-muted">Pay by any UPI app</p>
    </div>

  </div>
</div>
<div class="container border p-2 mb-3 rounded shadow-sm address-card" style="height: 75px;" onclick="selectAddress(this)">
  <div class="d-flex justify-content-between align-items-start">
    
    <!-- Radio button (left) -->
    <div class="pt-1 pe-2">
      <input type="radio" name="address" value="CARD"  />
    </div>

    <!-- Address info (middle) -->
    <div class="flex-grow-1 mt-1">
      
      <small class="fw-bold">Credit/Debit/ATM Card</small>
      <p class="ms-1 fw-normal small text-muted">Add any secure card by RBI guidelines.</p>
    </div>

  </div>
</div>
<div class="container border p-2 mb-3 rounded shadow-sm address-card" style="height: 75px;" onclick="selectAddress(this)">
  <div class="d-flex justify-content-between align-items-start">
    
    <!-- Radio button (left) -->
    <div class="pt-1 pe-2">
      <input type="radio" name="address" value="WALLET"  />
    </div>

    <!-- Address info (middle) -->
    <div class="flex-grow-1 mt-1">
      
      <small class="fw-bold">Wallet </small>
      <p class="ms-1 fw-normal small text-muted">Use your Fitbazar wallet</p>
    </div>

  </div>
</div>
<div class="container border p-2 mb-3 rounded shadow-sm address-card" style="height: 75px;" onclick="selectAddress(this)">
  <div class="d-flex justify-content-between align-items-start">
    
    <!-- Radio button (left) -->
    <div class="pt-1 pe-2">
      <input type="radio" name="address" value="RAZORPAY"  />
    </div>

    <!-- Address info (middle) -->
    <div class="flex-grow-1 mt-1">
      <img src="/images/razorpay-1.png" style="height: 30px;width: 60px;" alt="">
      <small>Razorpay - </small><small class="fw-bold">anandkv@1234</small>
      
    </div>

  </div>
</div>
</div>

      </div>
      <div class="col-4">

        
  <div class="p-3 shadow-sm border sticky-top rounded-3" style="background-color: rgb(212, 212, 212);top: 120px;">

    <div class="mb-1">
      <h5 class="fw-bold text-center">Order Summary</h5>
    </div>

    <div class="bg-light p-2 rounded-3">
    <!-- 1. Product Summary -->
     <% cartItems.forEach((item)=>{%>
    <div class="d-flex justify-content-between mb-2">
      <div><span class="fw-semibold"><%= item.quantity %> × <%= item.productId.productName %> </span></div>
      <div><span class="fw-semibold text-success">₹<%= item.productId.salePrice * item.quantity %></span></div>
    </div>
    <% }) %>

    <!-- 2. Delivery Charges -->
    <div class="d-flex justify-content-between small text-success fw-semibold mb-2">
      <div>Delivery Charges</div>
      <div class="text-success">Free</div>
    </div>
    <div id="discountRow" class="d-flex justify-content-between small text-danger fw-semibold mb-2" style="display: none;">
       <div>Discount</div>
        <div>-₹<span id="discountAmount"><%= discount || 0 %></span></div>
    </div>
    <!-- 3. Platform Fee -->
    <div class="d-flex justify-content-between small text-muted mb-3">
      <div>Platform Fee</div>
      <div>₹0</div>
    </div>
      </div>
    <hr>

    <!-- 4. Coupon Input -->
    <div class="d-flex input-group-sm mb-3 gap-2">
      <input type="text" id="couponCode" class="form-control ps-3" placeholder="Enter Coupon Code">
      <button class="btn btn-danger"  id="applyCouponCode" type="button">Apply</button>
    </div>

    <hr>

    <!-- 5. Total Price -->
    <div class="d-flex justify-content-between mb-3 bg-light rounded-3 p-3">
      <div class="fw-bold">Total <br> <small class="text-muted fw-normal">In rupees</small></div>
      <div class="fw-bold text-success"><span id="totalAmount">₹<%= subtotal %></span></div>
    </div>

    <!-- 6. Continue Button -->
    <button id="continueBtn" class="btn btn-dark w-100 fw-semibold">Continue</button>
  </div>
</div> 
    </div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <%- include("../partials/user/footer.ejs") %>

<script>
  const type = "<%= typeof type !== 'undefined' ? type : '' %>";
  const productId = "<%= typeof productId !== 'undefined' ? productId : '' %>";

  document.querySelectorAll(' .address-card input[type="radio" ]').forEach(radio => {
    radio.addEventListener('change', function () {
      // Reset all cards
      document.querySelectorAll('.address-card').forEach(card => {
        card.style.backgroundColor = "white";
      });

      // Highlight selected card
      const selectedCard = this.closest('.address-card');
      selectedCard.style.backgroundColor = "#f8f9fa";
    });
  });

  document.getElementById("continueBtn").addEventListener("click",async function () {
     
    const selectedMethod = document.querySelector("input[name='address']:checked");

    if(!selectedMethod){
      Swal.fire({
        icon:'warning',
        title:'Select address',
        text:"Please choose a payment method before submiting",
      })
      return;
    }

    try {

      const res = await fetch("/checkout/payment",{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({paymentMethod:selectedMethod.value,type,productId})
      })

      const data = await res.json();

      if(data.success){
        window.location.href = data.redirectUrl;
      }
      else{
        Swal.fire({icon:'error',title:'Error',text:data.message});
      }
      
    } catch (error) {
      console.error(error.message);
      Swal.fire({icon:'error',title:'Error',text:"Something went wrong."});
    }
    

  })

  document.getElementById("applyCouponCode").addEventListener("click",async()=>{
    const couponCode = document.getElementById("couponCode").value.trim();

    if (!couponCode) {
      Swal.fire({
        icon: "warning",
        title: "Please enter a coupon code"
      });
    return;
    }
    const urlParams = new URLSearchParams(window.location.search);
    const type = urlParams.get('type');
    const productId = urlParams.get("productId");

    let queryString =  "";
    if(type&&productId){
      queryString = `?type=${encodeURIComponent(type)}&productId=${encodeURIComponent(productId)}`
    }

    try {

      const res = await fetch(`/apply-coupon${queryString}`,{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({couponCode})
      })

      const data = await res.json();

      if(data.success){

        document.getElementById("discountRow").style.display = "flex";


        document.getElementById("discountAmount").innerHTML = data.discount;
        document.getElementById("totalAmount").innerHTML = data.finalAmount

        Swal.fire({
          icon:'success',
          title:"Coupon Applied!",
          text:data.message||"Discount has been applied."
        }).then(()=>{
          location.reload()
        })
      }
      else{
        Swal.fire({
          icon:"Error",
          title:"Invalid Coupon",
          text:data.message||"Please check the coupon code!"  
        })
      }
      
    } catch (error) {
      console.log("Error",error.message);
    }

    

  })


</script>

</body>

</html>