<%- include("../partials/user/header.ejs") %>
<%- include("../partials/user/navbar.ejs") %>

    
    <div class="container mt-5">
    <div class="row pt-4 justify-content-center ">

  <div class="col-md-12 mt-4 w-75">
    <% if(products && products.length>0) {%>
    <% products.forEach((item)=>{%>
    <div class="d-flex flex-row align-items-start justify-content-between px-sm-5 py-4 gap-2">
      
      <!-- Product Image -->
       <a href="/product/details/<%= item.product._id %>" class="text-decoration-none">
      <div style="width: 120px;height: 150px;">
        <img src="/uploads/re-image/<%= item.product.productImage[0] %>" alt="Product Image" style="object-fit: contain;width: 100%;height: 100%;" class="img-fluid rounded">
      </div>
      </a>

      <!-- Product Details and Actions -->
      <div class="d-flex flex-column flex-sm-row flex-grow-1 justify-content-between">
        
        <!-- Product Info -->
        <div>
          <h6 class="mb-1 fw-semibold"><%= item.product.productName %></h6>
          <p>Added On: <%=item.addedOn.toDateString() %></p>
          <p class="mb-1 text-success fw-semibold">₹<%= item.product.salePrice %></p>
          
        </div>
        <div class=" d-flex align-items-center justify-content-center w-100">
          <% if( item.product.isBlocked || item.product.status === "Discontinued"){ %>
          <p class="mb-2 text-danger fw-bold text-truncate">Currently Unavailable</p>
           <% } else if(item.product.quantity==0){ %>
            <p class="mb-2 text-danger fw-bold text-truncate">Out Of Stock</p>
            <% } else{ %>
              <p class="mb-2 text-success fw-bold text-truncate">In Stock</p>
              <% } %>
          </div>
       
        </div>

        <!-- Buttons -->
        <div class="d-flex flex-column gap-2">
          <!-- Move to Cart Form -->
          
          <form action="/wishlist/move-to-cart/<%= item.product._id %>" method="POST">
            <button <%= (item.product.quantity<=0 || item.product.status=='out of stock') ? "disabled title='Out Of Stock'" : "" %>
               class="btn btn-sm btn-success text-truncate" type="submit">Move to Cart</button>
          </form>
         
          <!-- Remove Button -->
          <div>
            <button class="btn btn-sm btn-outline-secondary" type="button" onclick="removeFromWishlist('<%= item.product._id %>')">
            Remove
          </button> 
          </div>
        </div>
        
    </div>
    
    <hr class="border border-dark">
    <% })%>
  </div>
</div>
</div>


      <div class="container mt-3">
              <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center mb-4" style="margin-right: 50px;">
                      
                      <% const maxVisiblePages=3; let startPage=Math.max(1, currentPage - 1); let endPage=startPage +
                          maxVisiblePages - 1; if (endPage> totalPages) {
                          endPage = totalPages;
                          startPage = Math.max(1, endPage - maxVisiblePages + 1);
                          }
                          %>

                          <!-- Previous Button -->
                          <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
                              <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">&laquo;</a>
                          </li>

                          <!-- Page Numbers -->
                          <% for (let i=startPage; i <=endPage; i++) { %>
                              <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                                  <a class="page-link" href="?page=<%= i %>&search=<%= search %>">
                                      <%= i %>
                                  </a>
                              </li>
                              <% } %>

                                  <!-- Next Button -->
                                  <li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
                                      <a class="page-link"
                                          href="?page=<%= currentPage + 1 %>&search=<%= search %>">&raquo;</a>
                                  </li>

                  </ul>
              </nav>
          </div>
          <% } else{ %>
            <div class="container" style="height: 60vh;" >
            <div class="text-center h-100 d-flex flex-column align-items-center bg-light justify-content-center">
              <p class="fw-semibold">No items found in wishlist</p>
              <a class="btn btn-outline-secondary" href="/product/all">Explore Products</a>
            </div>
            </div>
          <% } %>  
  </div>
  
  </div>
  </div>
  </div>
  


    <!-- Scripts -->
  
      
<%- include("../partials/user/footer.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function removeFromWishlist(productId){
        Swal.fire({
            title:"Are you sure?",
            text:"You want to remove this from the wishlist?",
            icon:"warning",
            showCancelButton:true,
            confirmButtonColor:"#d33",
            cancelButtonColor:"#aaa",
            confirmButtonText:"Yes, remove it!"
        }).then((res)=>{
            if(res.isConfirmed){
                fetch(`/wishlist/remove-from-wishlist/${productId}`,{
                    method:"DELETE"
                }).then(res=>res.json())
                .then(data=>{
                    if(data.success){
                        Swal.fire("!removed","Product has been removed.","success").then(()=>location.reload());
                    }
                    else{
                        Swal.fire("Error!",data.message||'Failed to remove product!',"error")
                    }
                })
            }
        })
    }
</script>

  </body>

  </html>